<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--begin::Global Theme Styles(used by all pages) -->
	<link href="../plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Theme Styles -->
    <style>
        body{
            background: rgb(93,120,255);
            background: radial-gradient(circle, rgba(93,120,255,1) 0%, rgba(107,185,221,1) 100%);
        }
        video{
            max-width: 100%;
        }
        .video-container{
            display: flex;
            justify-content: center;
        }
        .first-row{
            padding-top: 10%
        }
        .et-stop-call-btn-container{
            display: flex;
            justify-content: center;   
            padding-bottom: 2rem;
            padding-top: 2rem
        }
        #et-stop-call-btn:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    {{#each thisPageScripts}}
	<script src="{{this}}"></script>
	{{/each}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>