<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

	<!--begin::Monthly messages-->
	<div class="kt-portlet">
		<div class="kt-portlet__head">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon kt-hidden">
					<i class="la la-gear"></i>
				</span>
				<h3 class="kt-portlet__head-title">
					Average messages per week
				</h3>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div id="et-message-chart" style="height: 500px;"></div>
		</div>
	</div>
	<!--end::Monthly messages-->

    <!--begin::Monthly meetings-->
	<div class="kt-portlet">
		<div class="kt-portlet__head">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon kt-hidden">
					<i class="la la-gear"></i>
				</span>
				<h3 class="kt-portlet__head-title">
					Average meetings per week
				</h3>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div id="et-meeting-chart" style="height: 500px;"></div>
		</div>
	</div>
	<!--end::Monthly meetings-->

    <!--begin:: Shared Files-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Shared Files
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin::k-widget4-->
            <div class="kt-widget4" id='et-shared-file-list'>
            </div>

            <!--end::Widget 9-->
        </div>
    </div>
    <!--end:: Shared Files-->

    <!--begin:: Latest Messages from Tutor-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Latest Messages From Tutor
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin::widget 12-->

            <div class="kt-widget4" id="et-tutor-recent-message-list">
            </div>

            <!--end::Widget 12-->
        </div>
    </div>
    <!--end:: Latest Messages from Tutor-->

    <!--begin:: Today meetings-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Today's Meetings
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--Begin::Timeline 3 -->
            <div class="kt-timeline-v2">
                <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30" id="et-today-meeting-list">
                </div>
            </div>

            <!--End::Timeline 3 -->
        </div>
    </div>
    <!--end:: Today meetings-->

</div>